* {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    overflow-y: hidden;
}

.navbar {
    display: flex;
    width: 100vw;
    height: 85px;
    justify-content: space-between;
    align-content: center;
    border-bottom: 2px solid #FF5A5F;
}

.nav-links {
    margin-top: 31px;
    margin-right: 4%;
    overflow-y: hidden;
}

.nav-item {
    display: inline;
    text-decoration: none;
    font-family: 'roboto', sans-serif;
    outline: none;
    color: #3C3C3C;
    margin-right: 22px;
    font-size: 24px;
}

.nav-item:visited {
    color: #3C3C3C;
}

a:link {
    text-decoration: none;
    color: #3C3C3C;
}

.logo {
    margin-top: 18px;
    cursor: pointer;
    overflow-y: hidden;
    margin-left: 8%;

}

@media (max-width: 969px) {
    .logo {
        display: none;
    }

    .nav-links {
        margin: auto;
    }
}


footer {
    background-image: url("https://cdn.discordapp.com/attachments/696004132862951424/699382862062944297/2.png");
    height: 250px;
    width: 100vw;
    /*margin-top: 8%;*/
    overflow-x: hidden;
    overflow-y: hidden;
}

.footer-content {
    margin-top: 3%;
    display: flex;
    align-content: center;
    justify-content: space-evenly;


}

.f-links {
    color: #ffffff;
    font-family: "Assistant Light";
    text-decoration: none;
    list-style: none;
    font-size: 28px;
    letter-spacing: 3px;
    cursor: pointer;
}

.between {
    background-color: #cccccc;
    width: 1px;
    height: 50;
}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    font-family: "Assistant ExtraLight";
    font-size: 19px;
}

input[type=email],select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    font-family: "Assistant ExtraLight";
    font-size: 19px;
}

input[type=submit] {
    background-color: #FF5A5F;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: "Assistant ExtraLight";
    font-size: 28px;
    width: 100%;

}

input[type=submit]:hover {
    background-color: #FF5A5F;
    font-family: "Assistant ExtraLight";

}

.container {
    border-radius: 5px;
    background-color: white;
    padding: 22px;
    margin: auto;
    width: 55%;
    margin-top: 50px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);

}
label {
    font-family: "Assistant ExtraLight";
    font-size: 19px;

}
.contact-title {
    font-family: "Assistant ExtraLight";
    font-size: 41px;
    text-align: center;
    margin-top: 50px;
    margin-bottom: -31px;
    color: white;
}
section {
    background-color: #FF5A5F;
    height: 100vh;
    overflow-y: hidden;
}