* {
    padding: 0;
    margin: 0;
    overflow-x: hidden
}



.block {
    width: 100%;
}

.white-block {
    width: 100%;
    height: 50vh;
}


.title {
    text-align: center;
    font-family: 'Assistant', sans-serif;
    font-weight: 800;
    color: #3C3C3C;
    font-size: 38px;
}

.subtitle {
    text-align: center;
    font-family: 'Assistant', sans-serif;
    font-weight: 600;
    color: #3C3C3C;
    font-size: 18px;
}

.article {
    border-radius: 18px;
    margin: 18px auto;
    padding: 18px;
    width: 55%;
    text-align: center;
}

.article-text {
    margin-top: 10px;
    font-size: 22px;
    color: #3C3C3C;
    font-family: 'Assistant', sans-serif;
    font-weight: 200;
    text-align: justify;
}

.images {
    justify-content: space-evenly;
    display: flex;
    align-items: center;
}