* {
    padding: 0;
    margin: 0;
    overflow-x: hidden
}

.navbar {
    display: flex;
    width: 100vw;
    height: 85px;
    justify-content: space-between;
    align-content: center;
    border-bottom: 2px solid #FF5A5F;
}

.nav-links {
    margin-top: 31px;
    margin-right: 4%;
    overflow-y: hidden;
}

.nav-item {
    display: inline;
    text-decoration: none;
    font-family: 'roboto', sans-serif;
    outline: none;
    color: #3C3C3C;
    margin-right: 22px;
    font-size: 24px;
}

.nav-item:visited {
    color: #3C3C3C;
}

a:link {
    text-decoration: none;
    color: #3C3C3C;
}

.logo {
    margin-top: 18px;
    cursor: pointer;
    overflow-y: hidden;
    margin-left: 8%;

}

header {
    width: 100vw;
    height: 700px;
    background-image: url("https://cdn.discordapp.com/attachments/696004132862951424/699381259293425724/DenHaag.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom: 2px solid #FF5A5F;
}

.header-container {
    display: flex;
    justify-content: center;
    align-content: center;
    padding-top: 12%;
}

.header-title {
    font-family: "Open Sans";
    font-size: 52px;
    text-align: center;
    color: #ffffff;
    letter-spacing: 14px;
}

.header-button__container {
    display: flex;
    align-content: center;
    justify-content: center;

}

.header-button {
    border: 3px solid white;
    width: 300px;
    height: 50px;
    background-color: transparent;
    margin-top: 8px;
    cursor: pointer;
    color: white;
    font-size: 34px;
    letter-spacing: 3px;
    font-family: "Open Sans";
    font-weight: 300;
    overflow-y: hidden;
    border-radius: 24px;
}

.header-button:hover {
    transition: .2s ease-in-out;
    background-color: white;
    color: #333333;

}

.fa-chevron-circle-right {
    font-size: 26px;
    margin-left: 8px;
}

.dienst-title {
    text-align: center;
    font-family: "Open Sans";
    font-weight: 300;
    color: #3C3C3C;
    font-size: 40px;
    margin-top: 22px;
}

.underline {
    width: 75px;
    height: 1px;
    background-color: #FF5A5F;
    margin-top: 2px;
}

.flexbox {
    display: flex;
    align-content: center;
    justify-content: center;
}

.diensten-title {
    text-align: center;
    font-family: "Assistant ExtraLight";
    font-size: 33px;
    letter-spacing: 3px;
}

.cards {
    display: flex;
    margin: 25px auto;
    justify-content: center;
    align-items: center;
}

.cards1, cards2, cards3 {
    display: flex;
    text-align: center;
    flex-direction: column;

}

.cards-icon, .cards-titel, .cards-details {
    padding-top: 20px;
}

.cards-icon span {
    color: #FF5A5F;
}

.cards-titel, .cards-details {
    color: #3C3C3C;
    text-align: center;
    font-family: "Assistant ExtraLight";
}

.cards-titel {
    font-weight: 800;
    font-size: 2rem;
}

.cards-details {
    max-width: 50vw;
    padding-left: 8%;
    padding-right: 8%;
    line-height: 1.7;
    font-size: 1.4rem;
    font-weight: 300;
    letter-spacing: 1.5px;
    color: #3C3C3C;
    text-align: justify-all;
}

.services-button {
    margin: auto;
    width: 50%;
    padding: 5px;
    border: none;
    border-radius: 24px;
    font-family: 'roboto', sans-serif;
    background-color: #FF5A5F;
    color: #ffffff;
    font-size: 19px;
    margin-bottom: 75px;
    margin-top: 25px;
    transition: .2s ease-in-out;

}

.services-button:hover {
    transition: .2s ease-in-out;
    color: white;
    background-color: #ff3037;
    cursor: pointer;
}


.recent {
    width: 65%;
    margin: 0 auto;
    padding: 35px 0;
    font-family: open sans;
}

.card {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    color: #333;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
    margin-top: 1.5em;
}

.card-image {
    display: block;
    -webkit-flex: 1 0 50%;
    -ms-flex: 1 0 50%;
    flex: 1 0 18%;
    min-height: 320px;
    background-position: center;
    background-size: cover;
    background-color: #ccc;
}


.card-content {
    display: block;
    -webkit-flex: 1 0 50%;
    -ms-flex: 1 0 50%;
    flex: 1 0 47%;
    margin: 0;
    padding: 0;
    background: #fff;
}

.card-content {
    padding: 1.5em 1em 1.5em 1.5em;
    margin: 0;
    padding-bottom: 0;
}

.card-subtitle {
    font-family: open sans;
    font-size: 13px;
    text-transform: uppercase;
    color: #FF5A5F;
    margin: 0;
    margin-bottom: 4px;
    padding: 0;
    font-weight: 400;
}

.card-title {
    font-family: 'open sans';
    font-weight: 700;
    padding: 0;
    margin: 0;
    color: #333;
}

.card-title a {
    color: #333;
    text-decoration: none;
    transition: ease 500ms all;
}

.card-title a:hover {
    color: #FF5A5F;
    text-decoration: none;
}

.card-body {
    font-family: open sans;
    display: block;
}

.read-more {
    margin-top: 1.5rem;
    text-align: right;
    color: #333;
    padding-right: 30px;
}

.read-more-a {
    color: #333;
    opacity: .6;
    text-decoration: none;
    font-size: 14px;
}


.z-projecten {
    height: 200px;
    width: 100vw;
    float: left;
    background-image: url("https://cdn.discordapp.com/attachments/696004132862951424/699381254549668012/klus.png");
    margin-top: 20vh;
    background-position: -25% 25%;
}

.projecten-title {
    font-size: 44px;
    font-family: roboto;
    color: #ffffff;
    margin-top: 11px;

}

.projecten-button {
    border: 2px solid white;
    width: 275px;
    height: 45px;
    background-color: transparent;
    border-radius: 24px;
    font-size: 22px;
    color: white;
    margin-top: 16px;
    transition: .2s ease-in-out;
    cursor: pointer;
}

.projecten-button:hover {
    transition: .2s ease-in-out;
    background-color: white;
    color: #FF5A5F;
}

.project-container {
    margin-left: 18%;
}

footer {
    background-image: url("https://cdn.discordapp.com/attachments/696004132862951424/699382862062944297/2.png");
    height: 250px;
    width: 100vw;
    /*margin-top: 8%;*/
    overflow-x: hidden;
    overflow-y: hidden;
}

.footer-content {
    margin-top: 3%;
    display: flex;
    align-content: center;
    justify-content: space-evenly;


}

.f-links {
    color: #ffffff;
    font-family: "Assistant Light";
    text-decoration: none;
    list-style: none;
    font-size: 28px;
    letter-spacing: 3px;
    cursor: pointer;
}

.between {
    background-color: #cccccc;
    width: 1px;
    height: 50;
    margin-left: 12%;
    margin-right: 7.5%;
}

