.verhuizen {
    margin: auto;
    padding: 45px;
    width: 45%;
    margin-top: 31px;
    border-radius: 18px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.verhuizen-title {
    text-align: center;
    font-family: 'Assistant', sans-serif;
    font-weight: 300;
    font-size: 59px;
    color: white;
    margin-top: 4.8rem;
    letter-spacing: 4px;

}

.verhuizen-paragraph {
    font-family: 'Assistant', sans-serif;
    font-weight: 300;
    color: #3C3C3C;
    font-size: 22px;
    letter-spacing: 1px;
    text-align: justify;
}


* {
    padding: 0;
    margin: 0;
    overflow-x: hidden
}


.header {
    width: 100vw;
    height: 225px;
    background: url("https://cdn.discordapp.com/attachments/693461022832328724/719836163204055090/bannerhouse.png");
background-position: center;
}

.dienst-title {
    text-align: center;
    font-family: 'Assistant', sans-serif;
    font-weight: 300;
    color: #3C3C3C;
    font-size: 40px;
    margin-top: 22px;
}

.underline {
    width: 75px;
    height: 1px;
    background-color: #FF5A5F;
    margin-top: 2px;
}

.flexbox {
    display: flex;
    align-content: center;
    justify-content: center;
}

.diensten-title {
    text-align: center;
    font-family: 'Assistant', sans-serif;
    font-weight: 200;
    font-size: 33px;
    letter-spacing: 3px;
}

.cards {
    display: flex;
    margin: 80px auto;
    justify-content: center;
    align-items: center;
    background-color: #FF5A5F;
}

.cards1, cards2, cards3 {
    display: flex;
    text-align: center;
    flex-direction: column;

}

.cards-icon, .cards-titel, .cards-details {
    padding-top: 20px;
    color: white;
}

.cards-icon span {
    color: #ffffff;
}

.cards-titel, .cards-details {
    color: #3C3C3C;
    text-align: center;
    font-family: 'Assistant', sans-serif;
    font-weight: 200;
}

.cards-titel {
    font-weight: 800;
    font-size: 2rem;
    color: white;
}

.cards-details {
    max-width: 50vw;
    padding-left: 8%;
    padding-right: 8%;
    line-height: 1.7;
    font-size: 1.4rem;
    font-weight: 300;
    letter-spacing: 1.5px;
    color: #ffffff;
    text-align: justify-all;

}

.services-button {
    margin: auto;
    width: 50%;
    padding: 5px;
    border: none;
    border-radius: 24px;
    font-family: 'roboto', sans-serif;
    background-color: white;
    color: #000000;
    font-size: 19px;
    margin-bottom: 22px;
}


.z-projecten {
    height: 200px;
    width: 100vw;
    float: left;
    background-image: url("https://cdn.discordapp.com/attachments/696004132862951424/699381254549668012/klus.png");
    margin-top: 4vh;
    background-position: -25% 25%;
}

.projecten-title {
    font-size: 44px;
    font-family: roboto;
    color: #ffffff;
    margin-top: 11px;

}

.projecten-button {
    border: 2px solid white;
    width: 275px;
    height: 45px;
    background-color: transparent;
    border-radius: 24px;
    font-size: 22px;
    color: white;
    margin-top: 16px;
    transition: .2s ease-in-out;
    cursor: pointer;
}

.projecten-button:hover {
    transition: .2s ease-in-out;
    background-color: white;
    color: #FF5A5F;
}

.project-container {
    margin-left: 18%;
}

footer {
    background-image: url("https://cdn.discordapp.com/attachments/696004132862951424/699382862062944297/2.png");
    height: 250px;
    width: 100vw;
    /*margin-top: 8%;*/
    overflow-x: hidden;
    overflow-y: hidden;
}

.footer-content {
    margin-top: 3%;
    display: flex;
    align-content: center;
    justify-content: space-evenly;


}

.f-links {
    color: #ffffff;
    font-family: 'Assistant', sans-serif;
    font-weight: 300;
    text-decoration: none;
    list-style: none;
    font-size: 28px;
    letter-spacing: 3px;
    cursor: pointer;
}

.between {
    background-color: #cccccc;
    width: 1px;
    height: 50;
}