* {
    padding: 0;
    margin: 0;
    overflow-x: hidden
}

.navbar {
    display: flex;
    width: 100vw;
    height: 85px;
    justify-content: space-between;
    align-content: center;
    border-bottom: 2px solid #FF5A5F;
}

.nav-links {
    margin-top: 31px;
    margin-right: 4%;
    overflow-y: hidden;
}

.nav-item {
    display: inline;
    text-decoration: none;
    font-family: 'roboto', sans-serif;
    outline: none;
    color: #3C3C3C;
    margin-right: 22px;
    font-size: 24px;
}

.nav-item:visited {
    color: #3C3C3C;
}

a:link {
    text-decoration: none;
    color: #3C3C3C;
}

.logo {
    font-size: 36px;
    font-family: 'Open Sans', sans-serif;
    color: #3C3C3C;
    margin-top: 18px;
    letter-spacing: 14px;
    cursor: pointer;
    overflow-y: hidden;
    margin-left: 8%;
}

header {
    width: 100vw;
    height: 700px;
    background-image: url("../../assets/photos/denhaag.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom: 2px solid #FF5A5F;
}

.header-container {
    display: flex;
    justify-content: center;
    align-content: center;
    padding-top: 12%;
}

.header-title {
    font-family: "Open Sans";
    font-size: 52px;
    text-align: center;
    color: #ffffff;
    letter-spacing: 14px;
}

.header-button__container {
    display: flex;
    align-content: center;
    justify-content: center;

}

.header-button {
    border: 3px solid white;
    width: 300px;
    height: 50px;
    background-color: transparent;
    margin-top: 8px;
    cursor: pointer;
    color: white;
    font-size: 33px;
    letter-spacing: 6px;
    font-family: "Open Sans";
    font-weight: 300;
    overflow-y: hidden;
    border-radius: 24px;
}

.fa-chevron-circle-right {
    font-size: 26px;
    margin-left: 8px;
}

.dienst-title {
    text-align: center;
    font-family: "Open Sans Light";
    color: #3C3C3C;
    font-size: 40px;
    margin-top: 22px;
}

.underline {
    width: 75px;
    height: 1px;
    background-color: #FF5A5F;
    margin-top: 2px;
}

.flexbox {
    display: flex;
    align-content: center;
    justify-content: center;
}

.diensten-title {
    text-align: center;
    font-family: "Assistant ExtraLight";
    font-size: 33px;
    letter-spacing: 3px;
}

.cards {
    display: flex;
    margin: 25px auto;
    justify-content: center;
    align-items: center;
}

.cards1, cards2, cards3 {
    display: flex;
    text-align: center;
    flex-direction: column;

}

.cards-icon, .cards-titel, .cards-details {
    padding-top: 20px;
}

.cards-icon span {
    color: #FF5A5F;
}

.cards-titel, .cards-details {
    color: #3C3C3C;
    text-align: center;
    font-family: "Assistant ExtraLight";
}

.cards-titel {
    font-weight: 800;
    font-size: 2rem;
}

.cards-details {
    padding-left: 10%;
    padding-right: 10%;
    line-height: 1.7;
    font-size: 1.4rem;
    font-weight: 300;
    letter-spacing: 1.5px;
    color: #3C3C3C;
    text-align: justify-all;
}

footer {
    background-image: url("../../assets/photos/Endless-Constellation.svg");
    height: 250px;
    width: 100vw;
    /*margin-top: 8%;*/
}

.footer-content {
    margin-top: 3%;
    display: flex;
    align-content: center;
    justify-content: space-evenly;

}

.f-links {
    color: #ffffff;
    font-family: "Assistant Light";
    text-decoration: none;
    list-style: none;
    font-size: 28px;
    letter-spacing: 4px;
    cursor: pointer;
}

.between {
    background-color: #cccccc;
    width: 1px;
    height: 50;
}

.z-projecten {
    height: 400px;
    width: 100vw;
    float: left;
    background-image: url("../../assets/photos/klus.png");
    margin-top: 20vh;
}

.projecten-title {
    font-size: 44px;
    font-family:roboto;
    color: #ffffff;
    margin-top: 100px;

}

.projecten-button {
    border: 2px solid white;
    width: 275px;
    height: 45px;
    background-color: transparent;
    border-radius: 24px;
    font-size: 22px;
    color: white;
    margin-top: 16px;
    transition: .2s ease-in-out;
    cursor: pointer;
}

.projecten-button:hover {
    transition: .2s ease-in-out;
    background-color: white;
    color: #FF5A5F;
}
.project-container {
    margin-left: 18%;
}